.emoji {
    width: 1.25em;
    height: 1.25em;
    vertical-align: top;
    display: inline-block;
    box-sizing: content-box;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
    background: no-repeat;
    background-size: contain;
    /* text-indent: -10em; */
    /* padding: 3px 3px 3px 2px; */
    /* margin: -3px -2px; */
}
