.emoji {
    width: 1.25em;
    height: 1.25em;
    vertical-align: top;
    display: inline-block;
    box-sizing: content-box;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
    background: no-repeat -1000px -1000px;
    background-size: 1.25em 1.25em;
    text-indent: -10em;
    padding: 3px 3px 3px 2px;
    margin: -3px -2px;
}

.emoji:before {
    content: '';
    position: absolute;
    pointer-events: none;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: inherit;
    background-position: 2px 50%;
    background-position-y: calc(50% + 1px);
}

.emoji {
    font-style: normal;
}

.emoji > b {
    font-weight: normal;
}

.emoji > b {
    letter-spacing: 12em;
    pointer-events: none;
}
